# Načítanie dát

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
user = pd.read_csv("dataset_iau/user.csv", sep='\t')
session = pd.read_csv("dataset_iau/session.csv", sep='\t')
product = pd.read_csv("dataset_iau/product.csv", sep='\t')

In [3]:
product.head()

     product_ean code          store_name             location
0  4309748882180   US               Tyler      America/Chicago
1  5851941655164   PK              Alipur         Asia/Karachi
2  5289124458231   MY  Kampung Ayer Molek    Asia/Kuala_Lumpur
3  6565130443652   US            Glendale  America/Los_Angeles
4  8081875346334   PH                Naga          Asia/Manila

In [4]:
user.head()

,residence,sex,username,user_id,address,birthdate,race,job,name,current_location,mail
0,NaN,F,vigorellimatilda,295,"Borgo Gelsomina, 3 Piano 9\n12013, Chiusa Di P...",1917-03-25,NaN,NaN,Gemma Baracca,NaN,cesarecagnotto@tim.it
1,山口県立川市北上野40丁目24番4号 上野公園コーポ077,M,matsumotoasuka,298,三重県西東京市上広谷3丁目27番1号,NaN,NaN,演歌歌手,近藤 翼,"(Decimal('44.4329015'), Decimal('-94.188145'))",nakajimaatsushi@yahoo.com
2,"68187 Matthews Turnpike Suite 738\nWhitebury, ...",F,debra19,591,"63067 Jeffrey Village\nEast Jeffrey, TX 08868",1985-05-21,white,Tourism officer,Belinda Harvey,"(Decimal('17.674891'), Decimal('43.063751'))",kevindeleon@yahoo.com
3,"Canale Majorana, 522\n98168, Villaggio Annunzi...",NaN,udineseimelda,2538,NaN,2012-01-02,asian,NaN,Sig.ra Susanna Roero,"(Decimal('-65.4578585'), Decimal('-162.734373'))",federicacaccioppoli@tele2.it
4,NaN,NaN,debra72,590,USCGC Kim\nFPO AA 25581,NaN,white,NaN,Deborah Larson,"(Decimal('-67.907028'), Decimal('-104.061594'))",stevendavis@yahoo.com

In [5]:
session.head()

,pct_mouse_click,total_load_time,mouse_move_total_rel_distance,session_start,session_id,ack,screen_width,pct_click,browser_name,pct_mouse_move,...,pct_rage_click,scroll_move_total_rel_distance,user_id,screen_height,pct_input,pct_doubleclick,product_ean,pct_scroll_move,pct_wild_mouse,wild_mouse_duration
0,6.76035,15.00632,7.91611,2023-07-06 00:59:11,719775,0.0,lower,6.95057,opera,6.03169,...,27.21166,6.09851,868,1080,1.95647,6.97834,248099568029,44.03202,46.68163,10.74376
1,5.46624,1.04290,8.84385,2021-01-17 05:46:46,92085,0.0,800,NaN,edge,6.70707,...,57.45350,9.70491,748,1080,2.29294,9.61049,6638480475311,29.28054,65.50466,10.91609
2,6.75326,5.53722,8.14337,2019-02-13 15:46:33,1194424,0.0,lower,7.19415,edge,5.84443,...,47.46144,5.79315,1959,768,0.36497,5.14403,7111799508394,41.13195,66.42266,8.70608
3,9.09710,6.81720,6.52434,2019-06-15 19:33:59,335521,1.0,1280,9.56752,chrome,8.75647,...,45.16742,9.26782,1587,1080,0.15159,10.58422,2755517198198,53.76225,49.90523,7.34936
4,4.85419,3.92631,7.87990,2022-09-22 07:44:05,1144426,1.0,1366,7.21841,mobile,5.68521,...,51.15321,12.26355,2476,1024,0.10660,9.54298,4511971237235,56.00922,41.36312,6.19937

# Ako statisticky opisat atribut

1. describe
2. groupby.size() .... iris.groupby('species').size()
3. Univariate analysis (Mean, Median, Modus, Variance, Standard Deviation) = Analýza jednotlivých atribútov

iris['petal_length'].mean()
iris['petal_length'].median()
stats.mode(iris['petal_length'])
np.var(iris['petal_length'])
np.std(iris['petal_length'])

4. print("Pearson correlation: %.3f" % iris.petal_length.corr(iris.petal_width))
5. iris.corr() ...... tu bol error lebo nonnumeric data v cviceni

# Plots

1. sns.boxplot(data=iris, x="sepal_length", y="species")
2. iris.plot(kind='box', subplots=True, layout=(2,2), sharex=False, sharey=False)
3. iris.hist()
4. sns.histplot(iris['petal_width'], bins=10)

# Identifikuj vztahy medzi atributmi

1. sns.scatterplot(data=iris, x='petal_length', y='petal_width')
2. sns.regplot(x="petal_length", y="petal_width", data=iris)   ....  Plot data and a linear regression model fit
3. sns.pairplot(iris, hue="species")
4. fig, ax = plt.subplots(figsize=(10,8))
sns.heatmap(iris.corr(), ax=ax, annot=True, fmt=".3f") ......  neviem co toto ma spravit
5.

# Analýza štruktúr dát

Pracujeme s datasetom 70. Obsahuje 3 súbory: product.csv, session.csv, user.csv (csv - comma-separated values).

### Product.csv

Súbor priraďuje produkty k obchodom, v ktorých ich predávajú a uvádza polohy týchto obchodov. Má 613 KB a obsahuje 4 stĺpce.

In [6]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14958 entries, 0 to 14957
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   product_ean  14958 non-null  int64
 1   code         14941 non-null  object
 2   store_name   14958 non-null  object
 3   location     14958 non-null  object
dtypes: int64(1), object(3)
memory usage: 467.6+ KB

### User.csv

Súbor uvádza detaily o pozorovaných používateľoch, ako napríklad ich trvalé bydlisko, pohlavie, dátum narodenia, zamestnanie. Má 446 KB a obsahuje 11 stĺpcov.esto)

In [7]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2542 entries, 0 to 2541
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   residence         890 non-null    object
 1   sex               1271 non-null   object
 2   username          2542 non-null   object
 3   user_id           2542 non-null   int64
 4   address           2161 non-null   object
 5   birthdate         1398 non-null   object
 6   race              763 non-null    object
 7   job               1017 non-null   object
 8   name              2542 non-null   object
 9   current_location  2415 non-null   object
 10  mail              2542 non-null   object
dtypes: int64(1), object(10)
memory usage: 218.6+ KB

### Session.csv

Súbor obsahuje detaily o jednotlivých sedeniach používateľov. Uvádza rôzne detaily, najmä informáciu, či sa sedenie skončilo nákupom produktu (ack), identifikátor používateľa, ktorý sedenie absolvoval (user_id) a identifikátor produktu (product_ean), o ktorý sa jednalo. Okrem toho opisuje napríklad aj dĺžku sedenia, veľkosť obrazovky zariadenia alebo rýchlosť pohybu myši používateľa. Má 2.26 MB a obsahuje 25 stĺpcov.

In [8]:
session.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11089 entries, 0 to 11088
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   pct_mouse_click                 11078 non-null  float64
 1   total_load_time                 11089 non-null  float64
 2   mouse_move_total_rel_distance   11078 non-null  float64
 3   session_start                   11089 non-null  object
 4   session_id                      11089 non-null  int64
 5   ack                             11089 non-null  float64
 6   screen_width                    11089 non-null  object
 7   pct_click                       11078 non-null  float64
 8   browser_name                    11089 non-null  object
 9   pct_mouse_move                  11078 non-null  float64
 10  pct_click_product_info          11078 non-null  float64
 11  pct_scroll_move_duration        11078 non-null  float64
 12  pct_scrandom                    11078 non-null  float64
 13  session_duration                11089 non-null  float64
 14  page_activity_duration          11078 non-null  float64
 15  pct_rage_click                  11078 non-null  float64
 16  scroll_move_total_rel_distance  11078 non-null  float64
 17  user_id                         11089 non-null  int64
 18  screen_height                   11089 non-null  object
 19  pct_input                       11078 non-null  float64
 20  pct_doubleclick                 11078 non-null  float64
 21  product_ean                     11089 non-null  int64
 22  pct_scroll_move                 11077 non-null  float64
 23  pct_wild_mouse                  11078 non-null  float64
 24  wild_mouse_duration             11078 non-null  float64
dtypes: float64(18), int64(3), object(4)
memory usage: 2.1+ MB